src/Node-Red flows/dashboard.json
[
    {
        "id": "0ecdcae38ddc3783",
        "type": "tab",
        "label": "Dashboard",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a055b2a914152665",
        "type": "modbus-read",
        "z": "0ecdcae38ddc3783",
        "name": "Modbus Read low DO",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "Coil",
        "adr": "0",
        "quantity": "10",
        "rate": "500",
        "rateUnit": "ms",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "687271a22ceb2cba",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 140,
        "y": 100,
        "wires": [
            [
                "f41f7cd473649f9a"
            ],
            []
        ]
    },
    {
        "id": "7ec9685d60c9f838",
        "type": "debug",
        "z": "0ecdcae38ddc3783",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 340,
        "wires": []
    },
    {
        "id": "73615f7fb302d33b",
        "type": "modbus-write",
        "z": "0ecdcae38ddc3783",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "Coil",
        "adr": "1",
        "quantity": "1",
        "server": "687271a22ceb2cba",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 660,
        "y": 280,
        "wires": [
            [
                "7ec9685d60c9f838"
            ],
            []
        ]
    },
    {
        "id": "6d6c056a06643345",
        "type": "ui_led",
        "z": "0ecdcae38ddc3783",
        "order": 2,
        "group": "05bbae3e32796254",
        "width": 0,
        "height": 0,
        "label": "Low DO",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ffffff",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#e9f977",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 590,
        "y": 100,
        "wires": []
    },
    {
        "id": "f41f7cd473649f9a",
        "type": "change",
        "z": "0ecdcae38ddc3783",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "msg.payload[0]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 100,
        "wires": [
            [
                "6d6c056a06643345"
            ]
        ]
    },
    {
        "id": "fefbed1210d87504",
        "type": "ui_button",
        "z": "0ecdcae38ddc3783",
        "name": "",
        "group": "05bbae3e32796254",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Air Pump Off",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 90,
        "y": 280,
        "wires": [
            [
                "cadedbd932e52903"
            ]
        ]
    },
    {
        "id": "cadedbd932e52903",
        "type": "trigger",
        "z": "0ecdcae38ddc3783",
        "name": "",
        "op1": "true",
        "op2": "false",
        "op1type": "bool",
        "op2type": "bool",
        "duration": "250",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 320,
        "y": 280,
        "wires": [
            [
                "73615f7fb302d33b",
                "b2d1258d1a9570a1"
            ]
        ]
    },
    {
        "id": "51d64e5a21304360",
        "type": "modbus-read",
        "z": "0ecdcae38ddc3783",
        "name": "Modbus Read pH alert",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "Coil",
        "adr": "4",
        "quantity": "10",
        "rate": "500",
        "rateUnit": "ms",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "687271a22ceb2cba",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 140,
        "y": 560,
        "wires": [
            [
                "dec6e3084fe122ee"
            ],
            []
        ]
    },
    {
        "id": "985c13acd6375fee",
        "type": "ui_led",
        "z": "0ecdcae38ddc3783",
        "order": 3,
        "group": "3ea47541bfdc5abe",
        "width": 0,
        "height": 0,
        "label": "Check tanks",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ffffff",
                "value": "0",
                "valueType": "str"
            },
            {
                "color": "#ff0000",
                "value": "1",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 1030,
        "y": 600,
        "wires": []
    },
    {
        "id": "9092ac05fb20610e",
        "type": "modbus-read",
        "z": "0ecdcae38ddc3783",
        "name": "Modbus Read low_temp",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "Coil",
        "adr": "5",
        "quantity": "10",
        "rate": "500",
        "rateUnit": "ms",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "687271a22ceb2cba",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 150,
        "y": 740,
        "wires": [
            [
                "2a537867f8c29567"
            ],
            []
        ]
    },
    {
        "id": "a5c0ac653adde949",
        "type": "ui_led",
        "z": "0ecdcae38ddc3783",
        "order": 2,
        "group": "4f1b3f1c1f3ee6e1",
        "width": 0,
        "height": 0,
        "label": "Low Temp",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ffffff",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#00ffff",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 590,
        "y": 740,
        "wires": []
    },
    {
        "id": "2a537867f8c29567",
        "type": "change",
        "z": "0ecdcae38ddc3783",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "msg.payload[0]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 740,
        "wires": [
            [
                "a5c0ac653adde949"
            ]
        ]
    },
    {
        "id": "a30381fca9209638",
        "type": "modbus-read",
        "z": "0ecdcae38ddc3783",
        "name": "Modbus Read high_temp",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "Coil",
        "adr": "6",
        "quantity": "10",
        "rate": "500",
        "rateUnit": "ms",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "687271a22ceb2cba",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 150,
        "y": 960,
        "wires": [
            [
                "0a3b6ac3704a0591"
            ],
            []
        ]
    },
    {
        "id": "8e591b52b3880b15",
        "type": "ui_led",
        "z": "0ecdcae38ddc3783",
        "order": 4,
        "group": "4f1b3f1c1f3ee6e1",
        "width": 0,
        "height": 0,
        "label": "High Temp",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ffffff",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#ff8000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 590,
        "y": 960,
        "wires": []
    },
    {
        "id": "0a3b6ac3704a0591",
        "type": "change",
        "z": "0ecdcae38ddc3783",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "msg.payload[0]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 960,
        "wires": [
            [
                "8e591b52b3880b15"
            ]
        ]
    },
    {
        "id": "6816e7e7935ba12b",
        "type": "modbus-read",
        "z": "0ecdcae38ddc3783",
        "name": "Modbus Read high DO",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "Coil",
        "adr": "1",
        "quantity": "10",
        "rate": "500",
        "rateUnit": "ms",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "687271a22ceb2cba",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 140,
        "y": 160,
        "wires": [
            [
                "a0c2f064be863080"
            ],
            []
        ]
    },
    {
        "id": "f2b7bf965f750ba0",
        "type": "ui_led",
        "z": "0ecdcae38ddc3783",
        "order": 3,
        "group": "05bbae3e32796254",
        "width": 0,
        "height": 0,
        "label": "High DO",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ffffff",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#e9f977",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 590,
        "y": 160,
        "wires": []
    },
    {
        "id": "a0c2f064be863080",
        "type": "change",
        "z": "0ecdcae38ddc3783",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "msg.payload[0]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 160,
        "wires": [
            [
                "f2b7bf965f750ba0"
            ]
        ]
    },
    {
        "id": "c70aff95cdca6606",
        "type": "modbus-read",
        "z": "0ecdcae38ddc3783",
        "name": "Modbus Read Air pump status",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "Coil",
        "adr": "2",
        "quantity": "10",
        "rate": "500",
        "rateUnit": "ms",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "687271a22ceb2cba",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 160,
        "y": 220,
        "wires": [
            [
                "63171516ef515333"
            ],
            []
        ]
    },
    {
        "id": "63171516ef515333",
        "type": "change",
        "z": "0ecdcae38ddc3783",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "msg.payload[0]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 220,
        "wires": [
            [
                "36ddf3ec75f33e15"
            ]
        ]
    },
    {
        "id": "36ddf3ec75f33e15",
        "type": "ui_led",
        "z": "0ecdcae38ddc3783",
        "order": 4,
        "group": "05bbae3e32796254",
        "width": 0,
        "height": 0,
        "label": "Air Pump",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ffffff",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#e9f977",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 630,
        "y": 220,
        "wires": []
    },
    {
        "id": "b2d1258d1a9570a1",
        "type": "modbus-write",
        "z": "0ecdcae38ddc3783",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "Coil",
        "adr": "0",
        "quantity": "1",
        "server": "687271a22ceb2cba",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 660,
        "y": 340,
        "wires": [
            [
                "7ec9685d60c9f838"
            ],
            []
        ]
    },
    {
        "id": "94f568d0bcfbca7a",
        "type": "debug",
        "z": "0ecdcae38ddc3783",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 1080,
        "wires": []
    },
    {
        "id": "eaaeaed340465bcc",
        "type": "modbus-read",
        "z": "0ecdcae38ddc3783",
        "name": "Modbus Read Water Pump",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "Coil",
        "adr": "8",
        "quantity": "10",
        "rate": "500",
        "rateUnit": "ms",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "687271a22ceb2cba",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 150,
        "y": 1020,
        "wires": [
            [
                "47fc9bfe4d2a83a9"
            ],
            []
        ]
    },
    {
        "id": "4d17138f578b1625",
        "type": "ui_led",
        "z": "0ecdcae38ddc3783",
        "order": 5,
        "group": "4f1b3f1c1f3ee6e1",
        "width": 0,
        "height": 0,
        "label": "Water Pump",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ffffff",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#ffff00",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 590,
        "y": 1020,
        "wires": []
    },
    {
        "id": "47fc9bfe4d2a83a9",
        "type": "change",
        "z": "0ecdcae38ddc3783",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "msg.payload[0]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 1020,
        "wires": [
            [
                "4d17138f578b1625"
            ]
        ]
    },
    {
        "id": "d61b0951068d44cf",
        "type": "modbus-write",
        "z": "0ecdcae38ddc3783",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "Coil",
        "adr": "9",
        "quantity": "1",
        "server": "687271a22ceb2cba",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 660,
        "y": 1080,
        "wires": [
            [
                "94f568d0bcfbca7a"
            ],
            []
        ]
    },
    {
        "id": "5370ef75ea0e1e1b",
        "type": "trigger",
        "z": "0ecdcae38ddc3783",
        "name": "",
        "op1": "true",
        "op2": "false",
        "op1type": "bool",
        "op2type": "bool",
        "duration": "250",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 400,
        "y": 1080,
        "wires": [
            [
                "d61b0951068d44cf"
            ]
        ]
    },
    {
        "id": "015dc9bf336fc50e",
        "type": "ui_button",
        "z": "0ecdcae38ddc3783",
        "name": "",
        "group": "4f1b3f1c1f3ee6e1",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Water Pump On",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 100,
        "y": 1080,
        "wires": [
            [
                "5370ef75ea0e1e1b"
            ]
        ]
    },
    {
        "id": "d16f55192314d28f",
        "type": "modbus-write",
        "z": "0ecdcae38ddc3783",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "Coil",
        "adr": "0",
        "quantity": "1",
        "server": "687271a22ceb2cba",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 660,
        "y": 400,
        "wires": [
            [
                "7ec9685d60c9f838"
            ],
            []
        ]
    },
    {
        "id": "178d1fdac9ee6157",
        "type": "ui_button",
        "z": "0ecdcae38ddc3783",
        "name": "",
        "group": "05bbae3e32796254",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Air Pump On",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 90,
        "y": 380,
        "wires": [
            [
                "f184600b83fade61"
            ]
        ]
    },
    {
        "id": "f184600b83fade61",
        "type": "trigger",
        "z": "0ecdcae38ddc3783",
        "name": "",
        "op1": "true",
        "op2": "false",
        "op1type": "bool",
        "op2type": "bool",
        "duration": "500",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 320,
        "y": 380,
        "wires": [
            [
                "d16f55192314d28f"
            ]
        ]
    },
    {
        "id": "914fc760d129df56",
        "type": "debug",
        "z": "0ecdcae38ddc3783",
        "name": "debug 5",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 1140,
        "wires": []
    },
    {
        "id": "a209d672bc8322a7",
        "type": "trigger",
        "z": "0ecdcae38ddc3783",
        "name": "",
        "op1": "true",
        "op2": "false",
        "op1type": "bool",
        "op2type": "bool",
        "duration": "250",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 400,
        "y": 1140,
        "wires": [
            [
                "7c47dde760d27739"
            ]
        ]
    },
    {
        "id": "793b766063d8c648",
        "type": "ui_button",
        "z": "0ecdcae38ddc3783",
        "name": "",
        "group": "4f1b3f1c1f3ee6e1",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Water Pump Off",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 100,
        "y": 1140,
        "wires": [
            [
                "a209d672bc8322a7"
            ]
        ]
    },
    {
        "id": "7c47dde760d27739",
        "type": "modbus-write",
        "z": "0ecdcae38ddc3783",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "Coil",
        "adr": "10",
        "quantity": "1",
        "server": "687271a22ceb2cba",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 660,
        "y": 1140,
        "wires": [
            [
                "914fc760d129df56"
            ],
            []
        ]
    },
    {
        "id": "2f5fc5856c44eff1",
        "type": "comment",
        "z": "0ecdcae38ddc3783",
        "name": "Dissolved Oxygen",
        "info": "",
        "x": 330,
        "y": 40,
        "wires": []
    },
    {
        "id": "a4460141bcbf690f",
        "type": "comment",
        "z": "0ecdcae38ddc3783",
        "name": "pH Alert",
        "info": "",
        "x": 330,
        "y": 500,
        "wires": []
    },
    {
        "id": "1ca0670ef23f2c5f",
        "type": "comment",
        "z": "0ecdcae38ddc3783",
        "name": "Low Water Temp",
        "info": "",
        "x": 340,
        "y": 680,
        "wires": []
    },
    {
        "id": "7fce745f8e49ed3d",
        "type": "modbus-read",
        "z": "0ecdcae38ddc3783",
        "name": "Modbus Read Heater",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "Coil",
        "adr": "7",
        "quantity": "10",
        "rate": "500",
        "rateUnit": "ms",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "687271a22ceb2cba",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 140,
        "y": 800,
        "wires": [
            [
                "e435409260a0d793"
            ],
            []
        ]
    },
    {
        "id": "fbce915c5cf6755c",
        "type": "ui_led",
        "z": "0ecdcae38ddc3783",
        "order": 3,
        "group": "4f1b3f1c1f3ee6e1",
        "width": 0,
        "height": 0,
        "label": "Heater",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ffffff",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#ffff00",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 590,
        "y": 800,
        "wires": []
    },
    {
        "id": "e435409260a0d793",
        "type": "change",
        "z": "0ecdcae38ddc3783",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "msg.payload[0]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 800,
        "wires": [
            [
                "fbce915c5cf6755c"
            ]
        ]
    },
    {
        "id": "ddfc15e8ef8d4a14",
        "type": "comment",
        "z": "0ecdcae38ddc3783",
        "name": "High Water Temp",
        "info": "",
        "x": 340,
        "y": 900,
        "wires": []
    },
    {
        "id": "4ccd3e4c.b98bf",
        "type": "trigger",
        "z": "0ecdcae38ddc3783",
        "name": "",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "250",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 820,
        "y": 600,
        "wires": [
            [
                "16ddf53a.98e803",
                "985c13acd6375fee"
            ]
        ]
    },
    {
        "id": "16ddf53a.98e803",
        "type": "function",
        "z": "0ecdcae38ddc3783",
        "name": "",
        "func": "if (msg.payload == \"off\")\n\tcontext.state = 0;\nif (msg.payload == \"on\")\n\tcontext.state = 1;\n\nif (context.state == 1)\n{\n\tif (msg.payload == 0)\n\t\treturn msg;\n\telse\n\t\treturn;\n}\nelse\n\treturn;",
        "outputs": 1,
        "x": 760,
        "y": 700,
        "wires": [
            [
                "99d5a96a.8fc36"
            ]
        ]
    },
    {
        "id": "61bafd4.4f5c604",
        "type": "switch",
        "z": "0ecdcae38ddc3783",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 570,
        "y": 620,
        "wires": [
            [
                "16ddf53a.98e803",
                "4ccd3e4c.b98bf"
            ],
            [
                "16ddf53a.98e803"
            ]
        ]
    },
    {
        "id": "58285cdd.9f4914",
        "type": "change",
        "z": "0ecdcae38ddc3783",
        "name": "Switch off",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "off",
                "tot": "str"
            }
        ],
        "x": 760,
        "y": 520,
        "wires": [
            [
                "61bafd4.4f5c604"
            ]
        ]
    },
    {
        "id": "dec6e3084fe122ee",
        "type": "change",
        "z": "0ecdcae38ddc3783",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "on",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 560,
        "wires": [
            [
                "61bafd4.4f5c604",
                "4e642f9c.8f4e58"
            ]
        ]
    },
    {
        "id": "4e642f9c.8f4e58",
        "type": "delay",
        "z": "0ecdcae38ddc3783",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 580,
        "y": 520,
        "wires": [
            [
                "58285cdd.9f4914"
            ]
        ]
    },
    {
        "id": "99d5a96a.8fc36",
        "type": "delay",
        "z": "0ecdcae38ddc3783",
        "name": "",
        "pauseType": "delay",
        "timeout": "250",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "outputs": 1,
        "x": 930,
        "y": 700,
        "wires": [
            [
                "4ccd3e4c.b98bf"
            ]
        ]
    },
    {
        "id": "687271a22ceb2cba",
        "type": "modbus-client",
        "name": "OpenPLC",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "127.0.0.1",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": "1",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": true,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "05bbae3e32796254",
        "type": "ui_group",
        "name": "Dissolved Oxygen",
        "tab": "bc87e5c3527dec05",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3ea47541bfdc5abe",
        "type": "ui_group",
        "name": "pH",
        "tab": "bc87e5c3527dec05",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4f1b3f1c1f3ee6e1",
        "type": "ui_group",
        "name": "Water Temp",
        "tab": "bc87e5c3527dec05",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "bc87e5c3527dec05",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]